p, ul {
    border: 5px solid powderblue;
    padding: 25px;
  }
  body {
    background-color: #3f4da2;
  }
  p, li {
    color: #3fb3ff;
    font-family: Arial;
    font-size: 160%;
  }
iframe {border: 5px solid powderblue }

h1, h2 {
color: #3fb3ff;
font-family: 'Times New Roman', Times, serif;
font-size: 200%
}
